*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A1A1A;
}
/* 居中的盒子 */
.centered{
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: 260px;
    align-items: center;
    justify-content: center;
    grid-gap: 20px 30px;
}
input{
    height: 30px;
    padding-left: 20px;
    outline: none;
    color: #6C757D;
}
input:nth-child(1){
    margin-top: 20px;
}
.centered>span{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.centered>button{
    border: none;
    background-color: #504DE3;
    color: white;
}
#login{
    height: 30px;
}
.centered>a{
    text-decoration: none;
    color: #1A1A1A;
    text-align: center;
}

.register{
    width: 200px;
    margin: 0px auto;
    text-align: center;
}
.register>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* 设定鼠标移入样式 */
#login:hover{
    background-color: #393899;
}
a:hover{
    color: rgb(196, 21, 21);
}

/* 输入框错误时的样式 */
.wrong_style{
    border: 1px solid red;
    color: red;
}

/* 大于1012px时生效 */
@media screen and (min-width:1010px){
    .centered{
        width: 500px;
        height: 400px;
        margin: 60px auto;
        display: grid;
        grid-template-columns: 400px;
        align-items: center;
        justify-content: center;
        grid-template-rows: repeat(5,1fr);
    }
    input:nth-child(1){
        margin-top: 50px;
    }
    .centered>input{
        height: 50px;
    }
    .centered>button{
        height: 40px;
    }
    
}
/* 大于759px时生效 */
/* @media screen and (min-width:759px) {
    .centered{
        width: 200px;
    }
    
} */